@import "compass";

#controls svg {
  z-index: 2;
  position: fixed;
  bottom: 0;
  // left: 0;
  right: 0;
  height: 200px;
  width: 240px;
  pointer-events: none;

  g {
    fill: #fff;
    cursor: pointer;
    pointer-events: all;

    path {
      fill-opacity:0.2;
    }
    &:hover path {
      fill-opacity:0.5;
    }

    text {
      font-size: 70px;
    }
  }



  text {
    text-transform: uppercase;
  }
}
